/* src/app/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-custom {
  background-image: url('../../public//images//fondo.png');
  background-size: cover;
  background-position:top;
}

body {
  font-family: 'Pixelify Sans', sans-serif;
}

/* src/styles.css */
.btn-modal {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-modal:hover {
  background-color: #0056b3;
}


@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
  
  .backface-hidden {
    backface-visibility: hidden;
  }
  
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}

.btn-modal {
  background-color: white;
  border: 2px solid #ff6f6f;
  color: #ff6f6f;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.btn-modal:hover {
  background-color: #ff6f6f;
  color: white;
}